<h1>Login</h1>
<div>
    <form action="/login" method="post">
        <label>Usuario:</label>
        <input type="text" placeholder="Ingrese credencial" name="name"/>
        <button type="submit">Ingresar</button>
    </form>
</div>