doctype html

html(lang='en')
  body
    table.table.table-striped
      tr
        th TITLE
        th PRICE
        th IMAGEN 
   

      each n in productos 
        tr
          td= n.tible
          td= n.price
          td= n.imagen
      